$body-bg: #172C49;


// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import '_variables.scss';

html,
body {
    height: 100vh;
}

#root {
    height: 100%;
}

.main-container {
    height: 100%;
    padding-left: 50px;
    padding-top: 50px;
}

.main-sub-container {
    height: 100%;
    background-color: $body-grey;
}