.card-container {
  &__yellow-edge {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
  }
  &.has-warning {
    background-color: #faf5d5;
  }
}
.card-container:hover{
  cursor: pointer;
}