@import '../../styles/index.scss';
.card-title {
    &.failed{
        color: #D92323;
    }
    &.success{
        color: #3DA836;
    }
  
}
    .header,.footer{
       border: 0;
    }
    .body{
        text-align:center;
    }

