@import '../../styles/index.scss';

.title {
    &.failed {
        color: $failed-color;
    }

    &.success {
        color: $success-color;
    }

}

.header,
.footer {
    border: 0;
}

.body {
    text-align: center;
}