@import '../../styles/index.scss';
.card-title {
    &.failed{
        color: #D92323;
    }
    &.success{
        color: #3DA836;
    }
  
}
    .card-header{
       background-color:white;
       border: 0;
       color:#454F63;
    }

